﻿@using System.Data
@using userControlsModels.Grids
@*<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>*@
<div style="width:100%; height:20px;">
    <form asp-action="Index" style="float:left">
        <label> Search: </label>
        <input type="text" name="searchTerms" value="@Model.Search" />
        <input type="submit" value="Search">
    </form>
    <form asp-action="Index" style="float:right">
        <input type="submit" name="searchTermsReset" value="Reset">
    </form>
</div>

<table class="table table-striped projects" style="width:100%" id="table">
    <thead>
        <tr>
            <th style="width: 1%">
                #
            </th>
            <th style="width: 30%">
                Product Name
            </th>
            <th style="width: 20%">
                Brand
            </th>
            <th style="width: 20%">
                Category
            </th>
            <th style="width: 8%" class="text-center">
                Year
            </th>
            <th style="width: 20%">
                Pice
            </th>
        </tr>
    </thead>
    @{int col = Model.ColumnDataTypes.Count;}
    @foreach (DataRow row in Model.DataTable.Rows)
    {
        <tr class="back">
            @{int count = 0;}
            @foreach (ColumnDataType type in Model.ColumnDataTypes)
            {

                @if (@type.Type.Equals(ColumnDataType.Types.Image))
                {
                    <td class="text-left" valign="middle">
                        @foreach (var item in @row[@count].ToString().Split(";"))
                        {
                            <img alt="Avatar" class="table-avatar" src="~/Imagens/@item" style="max-height:75px;max-width:75px;align-items:baseline">
                        }
                    </td>
                    { count++; }
                }
                @if (@type.Type.Equals(ColumnDataType.Types.TextWithDetails))
                {
                    <td valign="middle">
                        <a>
                            @for (int i = 0; i < @row[@count].ToString().Split("-").Length - 1; i++)
                            {
                                @row[@count].ToString().Split("-")[i]
                            }
                        </a>
                        <br />
                        <small>
                            @row[@count].ToString().Split("-")[@row[@count].ToString().Split("-").Length - 1]
                        </small>
                    </td>
                    { count++; }
                }
                @if (@type.Type.Equals(ColumnDataType.Types.Progress))
                {
                    <td class="project_progress" valign="middle">
                        <div class="progress progress-sm">
                            <div class="progress-bar bg-green" role="progressbar" aria-volumenow=@row[@count] aria-volumemin="0" aria-volumemax="100" style="width:@row[@count]%">
                            </div>
                        </div>
                        <small>
                            @row[@count]%
                        </small>
                    </td>
                    { count++; }
                }
                @if (@type.Type.Equals(ColumnDataType.Types.Text))
                {
                    <td valign="middle">
                        <a>
                            @row[@count]
                        </a>
                    </td>
                    { count++; }
                }
                @if (@type.Type.Equals(ColumnDataType.Types.Status))
                {
                    <td class="project-state" valign="middle">
                        @foreach (var item in @row[@count].ToString().Split(";"))
                        {
                            <span class="badge badge-success">@item</span>
                        }
                    </td>
                    { count++; }
                }
                @if (@type.Type.Equals(ColumnDataType.Types.Options))
                {
                    <td class="project-actions text-left" valign="middle">
                        @foreach (var item in @row[@count].ToString().Split(";"))
                        {
                            <input type="button" id="btnpopup" value="@item" onclick="ShowModelPopUp();" />
                            <script type="text/javascript">

                                ShowModelPopUp = function () {

                                    window.showModalDialog('/Home/OpenModelPopup', "WindowPopup", 'width=400px,height=400px');

                                }

                            </script>
                            @*<a class="btn btn-primary btn-sm" href="#">
                                    @item
                                </a>*@
                        }
                    </td>
                    { count++; }
                }
                @if (@type.Type.Equals(ColumnDataType.Types.Price))
                {
                    <td valign="middle">
                        <a>
                            @row[@count] €
                        </a>
                    </td>
                    { count++; }
                }

                @*<tr>
                        @for (int i = 0; i < 2; i++)
                        {
                            <td>@row[i]</td>
                        }
                    </tr>*@
            }
            <td valign="middle">
                @*<input type="button" id="btnpopup" value="Details" onclick="openModal(@row[0],dsd,sdsds,dsa,dsad)" />*@
                <button type="button" class="btn btn-info btn-lg" onclick="ShowModelPopUp(@row[0])" value="@row[0]" name="btn">@row[0]</button>
                @*<input type="text" name="pname" value="@Model.Test" />*@
                @*<script type="text/javascript">
                @Model.Test= @row[0];
                </script>*@

                <!-- Modal -->
                <div id="myModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Details</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <form asp-action="SaveDetails" method="post">
                                <div class="modal-body" id="Details">
                                    
                                </div>
                                <div class="modal-footer">
                                    <button type="button" data-dismiss="modal">Close</button>

                                    <input type="submit" value="Save" />
                                </div>

                            </form>
                        </div>

                    </div>
                </div>
            </td>
        </tr>
    }
</table>

<script type="text/javascript">
    function ShowModelPopUp(id) {
        $("#Details").load('@Url.Action("Details","Home")?id=' + id);
        window.$("#myModal").modal('show');
    }
</script>

<div style="width:100%; height: 20px;">
    <div style="display:flex;width:80%; float:left;">
        <div class="text-left">
            <form asp-action="Index" style="float:left">
                <label for="cars">Itens p/Page:</label>
                <select name="pageLength">
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="25">25</option>
                    <option value="30">30</option>
                </select>
                <input type="submit" name="Update" value="Update">
                <input type="hidden" name="Update" value="Update">
            </form>
        </div>


    </div>
    <div style="float:right; width:20%">
        @if (@Model.PageNumber != @Model.LastPage)
        {
            <form asp-action="Index" style="float:right">
                <input type="submit" value="Next">
                <input type="hidden" name="pageNumber" value="next">
            </form>
        }
        @if (@Model.PageNumber > 1)
        {
            <form asp-action="Index" style="float:right">
                <input type="submit" value="Previous" id="previous">
                <input type="hidden" name="pageNumber" value="previous">
            </form>
        }
        <label>Page: @Model.PageNumber</label>

    </div>
</div>
