﻿
@using userControlsModels.Model;
@model Bike;

@{
    Layout = "";
}

<h1>details</h1>
@*<script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>*@
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js%22%3E" </script>

<!-- jQuery Modal -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js%22%3E" </script>

<div>
    <label>id:</label>
    <label>@Model.Product_id</label>
    @*@Html.HiddenFor(@Model => @Model., new { @id = "StuId" })*@
    @*<form asp-action="SaveDetails" method="post">
            <input type="text" name="id" value="@Model.Id" placeholder="@row[0]"/>
            <input type="submit" value="Save" />
        </form>*@

    @*<input type="submit" value="Search">*@
</div>
<div>
    <label>Product Name:</label>
    <input type="text" name="pname" value="@Model.Product_name" />
    @*<input type="text" name="id" value="@Model.Details[1]" />*@
</div>
<div>
    <label>Brand:</label>
    <input type="text" name="brand" value="@Model.Brand_name" />
</div>
<div>
    <label>Category:</label>
    <input type="text" name="category" value="@Model.Category_name" />
</div>
<div>
    <label>Year:</label>
    <input type="text" name="year" value="@Model.Model_year" />
</div>
<div>
    <label>Price:</label>
    <input type="text" name="price" value='@String.Concat(Model.List_price, " €")' />
</div>


