﻿

<h1>details</h1>

<div>
    <label>id:</label>
    <label>@Model.DataTable.Rows[@Model.Test][0]</label>
    @*@Html.HiddenFor(@Model => @Model., new { @id = "StuId" })*@
    @*<form asp-action="SaveDetails" method="post">
            <input type="text" name="id" value="@Model.Id" placeholder="@row[0]"/>
            <input type="submit" value="Save" />
        </form>*@

    @*<input type="submit" value="Search">*@
</div>
<div>
    <label>Product Name:</label>
    <input type="text" name="pname" value="@Model.PName" placeholder="@Model.DataTable.Rows[@Model.Test][1]" />
    @*<input type="text" name="id" value="@Model.Details[1]" />*@
</div>
<div>
    <label>Brand:</label>
    <input type="text" name="brand" value="@Model.Brand" placeholder="@Model.DataTable.Rows[@Model.Test][2]" />
</div>
<div>
    <label>Category:</label>
    <input type="text" name="category" value="@Model.Category" placeholder="@Model.DataTable.Rows[@Model.Test][3]" />
</div>
<div>
    <label>Year:</label>
    <input type="text" name="year" value="@Model.Year" placeholder="@Model.DataTable.Rows[@Model.Test][4]" />
</div>
<div>
    <label>Price:</label>
    <input type="text" name="price" value="@Model.Price" placeholder="@Model.DataTable.Rows[@Model.Test][5]" />
</div>


